/* Element Selector */
div  {
    background-color: aquamarine;
}

/* id selector */

#header {
    font-size: 2rem;
}

#text p {
background-color: blueviolet;
}

/* class selector */

.subtitle {
    color: blue;
}

